# Datasets and Raw Files 
/BRB_Dataset/
/BRB_Dataset_Test/
/BRB_YOLO_Dataset/

/zipfile/
/LightGBM_results/
/lightgbmClassifier_Result/
/XGBoost_results/
/runs/

# Model Artifacts 
/checkpoints/

# Generated Outputs 
/Example_inference_videos/
/No_detection_images/

# Miscellaneous Directories
/miscellaneous/

# File Extensions 
/csv_files/
/json_files/
*.csv
*.json
*.zip